.coinList {
  background: var(--dark);
  border-radius: 10px;
}

.coinList th {
  color: var(--bright);
}

.coinList td {
  color: var(--brighter);
  word-break: break-all;
}

.coinList tr {
  border-color: var(--neutral);
}

.coinList tr:hover {
  background: var(--neutral);
}

.coinList .symbol {
  font-weight: bold;
}

.coinList a {
  color: var(--brighter);
  text-decoration: none;
}

.coinList a:hover {
  color: var(--highlight);
}
