.exchangeList img {
  height: 25px;
}

.exchangeList {
  background: var(--dark);
  border-radius: 10px;
  padding: 0 1em;
}

.exchangeList a {
  color: var(--brighter);
  font-weight: normal;
  text-decoration: none;
}

.exchangeList th {
  color: var(--bright);
}

.exchangeList td {
  color: var(--brighter);
}

.exchangeList tr {
  border-color: var(--neutral);
}

.exchangeList tr:hover {
  background: var(--neutral);
}

.exchangeList .symbol {
  font-weight: bold;
}
