.trending {
  display: flex;
  gap: 1em;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.trending-coin {
  background: var(--dark);
  border-radius: 10px;
  color: var(--brighter);
  flex: 1;
  margin-bottom: 1em;
  position: relative;
  padding: 1em 1em 1.5em 1em;
  text-decoration: none;
}

.trending-coin:hover {
  background: var(--neutral);
  color: var(--brighter);
}

.trending-coin .link {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--bright);
  right: 0;
  width: 100%;
  text-align: center;
}

.trending-coin .link a {
  color: white;
  text-decoration: none;
}

.trending-coin img {
  margin: 0 0.5em 0.5em 0;
  height: 100px;
}

.trending-coin .name {
  font-weight: bold;
}

.trending-coin .symbol {
  color: var(--bright);
}
